<% include ./partials/header%>
    <div class="jumbotron">
        <p>Welcome</p>
        <button class = "btn btn-warning"><a href="/login">login</a></button> 
    <!-- <% if(currentUser){ %>
            <li><a href="/user/<%=currentUser._id>%>">Visit userpage</a> </li>
        <% } %>    -->
    </div>

<% include ./partials/footer%>