<% include ./partials/header%>

<h1>this is the landing page</h1>
<% if(currentUser){ %>
    <button class="btn color btn-warning"><a href="/user/<%=currentUser._id%>">Go to userpage</a> </button>
<% }else{ %>
    <button class="btn color btn-warning"><a href="/login">Login</a> </button>
<% }%>

<% include ./partials/footer%>