<% include ./partials/header%>

<h1>LOGIN PAGE</h1>
    <form ACTION ="/login" METHOD="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Submit!!!</button>
    </form>

    <% if(currentUser){ %>
        <%=new Date()%>
    <% }%>

<% include ./partials/footer%>