<% include ./partials/header%>

<h1>REGISTER</h1>

    <form METHOD="POST" ACTION="/register">
        <input type="text" name= "username" placeholder="username">
        <input type="password" name= "password" placeholder="password">
        <input type="submit"
         value="submit!!!">
    </form>

<% include ./partials/footer%>