<HTML>
    <HEAD>
        <TITLE></TITLE>
    </HEAD>
    <BODY>
        <form METHOD="POST" ACTION="/register">
            <input type="text" name= "username" placeholder="username">
            <input type="password" name= "password" placeholder="password">
            <input type="submit" value="submit!!!">
        </form>
    </BODY>
</HTML>