<%include ./partials/header%>

<div class="container jumbotron">
    <p>Welcome to your userpage <%=currentUser.username%></p> 
</div>
<div>
    <form method="POST" action ="/logout" >
        <input type="text" name="time" value=<%=time._id%> >
    <button class="btn btn-warning" >Logout</button>
    </form>
</div>

<%include ./partials/footer%>