<%include ./partials/header%>

<div class="container jumbotron">
    <p>Welcome to your <%=currentUser.username%></p> 
</div>
<div>
    Here's a list of all thing 
</div>

<%include ./partials/footer%>